.bio {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
}

.bio-image {
  border-radius: 5px;
  margin-right: 22px;
  display: block;
}

.bio-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bio-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 39px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #00629B;
}

.bio-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-top: 20px;
}
