.cta {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  width: 200px;
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #E87722;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 18px 24px 17px 24px;
}

.cta:hover {
  background: #E89222;
  cursor: pointer;
}
