.toc {
  width: 100%;
  background: #F8F8F8;
  padding: 36px 0px 36px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.toc-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.toc-link-container {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 183.2%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.toc-link {
  display: flex;
  align-items: flex-start;
  margin-right: 8px;
  margin-left: 10px;
  color: #00629B;
}

.toc-link a {
  color: #FFFFFF;
  text-decoration: none;
}

.toc-link a:hover {
  color: #00B5E2;
  text-decoration: none;
}

