.hero {
  width: 100%;
  height: 200px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 98, 155, 0.03) 0%, rgba(0, 98, 155, 0.65) 0.01%, rgba(0, 98, 155, 0.75) 44.79%, #00629B 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.hero-intro {
  margin-top: 40px;
  font-family: Open Sans Condensed;
  font-size: 48px;
  font-style: normal;
  font-weight: lighter;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-primary {
  margin-top: 5px;
  font-family: Open Sans Condensed;
  font-size: 86px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.3px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
