body {
    margin: 0;
    padding: 0;
}

.center {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #262626;
  margin-bottom: 0px;
}

h2 {
  font-family: Open Sans;
  font-style: bold;
  font-weight: normal;
  font-size: 36px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #262626;
  margin-top: 0px;
}

h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 44px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #262626;
  margin-top: 28px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 0px;
}

h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #262626;
  margin-top: 28px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 0px;
}

h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #00629B; 
  margin-top: 28px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 0px;
}

h6 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color: #000000; 
  margin-top: 28px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 0px;
}  

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
  margin-right: 10%;
  margin-left: 10%;
}

ul li{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
  margin-left: 15%;
  margin-right: 15%;
}

ol li{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
  margin-left: 15%;
  margin-right: 15%;
}

a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  color: #00629B;
}

a:hover {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  color: #00B5E2;
}

a.anchor {
  display: block;
  position: relative;
  top: -175px;
  visibility: hidden;
}
