
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,600,300,700|Open+Sans%20Condensed:200');.anima-component-wrapper a,
.anima-screen a {
    text-decoration: none;
    display: contents;
}

.anima-flexbox-container a {
    line-height: 0;
}
.anima-full-width-a {
    width: 100%;
}

.anima-full-height-a {
    height: 100%;
}

.anima-screen textarea:focus,
.anima-screen input:focus {
    outline: none;
}

.anima-screen *,
.anima-component-wrapper *{
    box-sizing: border-box;
}

.anima-screen div {
    -webkit-text-size-adjust: none;
}

.anima-container-center-vertical,
.anima-container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.anima-container-center-vertical {
    align-items: center;
    height: 100%;
}

.anima-container-center-horizontal {
    justify-content: center;
    width: 100%;
}

.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
    pointer-events: auto;
    flex-shrink: 0;
}

.anima-component-wrapper,
.anima-screen {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}

.anima-auto-animated div {
    opacity: 0;
    position: absolute;
    --anima-z-index: -1;
}

.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
    opacity: 1;
}

.anima-overlay {
position: absolute;
opacity: 0;
display: none;
top: 0;
width: 100%;
height: 100%;
position: fixed;
}

.anima-animate-appear {
    opacity: 0;
    display: block;
    animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
    opacity: 1;
    display: block;
    animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
    animation-delay: 0s;
}

@keyframes anima-reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.align-self-flex-start {
    align-self: flex-start;
}
.align-self-flex-end {
    align-self: flex-end;
}
.align-self-flex-center {
    align-self: center;
}
.anima-valign-text-middle {
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.anima-valign-text-bottom {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}
.anima-component-wrapper,
.anima-component-wrapper * {
    pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
    pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
    visibility: hidden;
    pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
    visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
    cursor: pointer;
}
