.logo-container {
  max-width: 170px;
}

.logo-image {
  max-width: 170px;
}

.logo-primary {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #00B5E2;
  margin-right: 10px;
}

.logo-secondary {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}
