.article-slider {
  margin-top: 60px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.article-container {
  width: 270px;
  margin-right: 62px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  justify-content: space-between;
}

.article-container img {
  width: 270px;
  height: 270px;
  display: flex;
}

.article-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  display: flex;
}

.article-more-info {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 135.94%;
  color: #000000;
  margin-left: 24px;
  margin-bottom: 24px;
  display: flex;
}
