.header-container {
  width: 100%;
}

.header-top {
  height: 40px;
  width: 100%;
  border-radius: 0;
  background: #000000;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #676767 solid;
}

.header-bottom {
  height: 71px;
  width: 100%;
  border-radius: 0;
  background: #000000;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  height: 33px;
  width: 180px;
  margin-left: 64px;
  margin-top: 18px;
  border-radius: 0;
  display: flex;
  align-content: flex-start;
}

.logo-primary {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #00B5E2;
  margin-right: 10px;
}

.logo-secondary {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bottom-link-container {
  height: 25px;
  margin-right: 84px;
  margin-top: 25px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
}

.link {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  margin-right: 20px;
  color: #FFFFFF;
}

.link a {
  color: #FFFFFF;
  text-decoration: none;
}

.link a:hover {
  color: #00B5E2;
  text-decoration: none;
}

.top-link-container {
  height: 18px;
  margin-top: 15px;
  margin-left: 18px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
}

.top-logo-container {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-right: 18px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
}

.top-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: lighter;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-start;
  margin-right: 8px;
  color: #FFFFFF;
}

.top-link a {
  color: #FFFFFF;
  text-decoration: none;
}

.top-link a:hover {
  color: #00B5E2;
  text-decoration: none;
}

.selected {
  color: #E87722;
}


