.section {
  background: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.section-dark {
  background: #F8F8F8;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-blue {
  background: #e2f1fb;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}
