.footer-container {
  width: 100%;
}

.footer-top {
  height: 380px;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #676767 solid;
}

.footer-bottom {
  height: 184px;
  width: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  height: 33px;
  width: 20%;
  margin-left: 64px;
  margin-right: 172px;
  margin-top: 59px;
  border-radius: 0;
  display: flex;
  align-content: flex-start;
}


.divider-container {
  border-right: 1px solid #FFFFFF;
  height: 320px;
  margin-top: 30px;
}

.about-container {
  width: 35%;
  margin-right: 55px;
  margin-top: 68px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.about-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140.62%;
  color: #FFFFFF;
}

.about-details {
  font-family: Open Sans;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 140.62%;
  color: #FFFFFF;
  margin-top: 10px;
}

.about-social {
  font-family: Open Sans;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 140.62%;
  color: #FFFFFF;
  margin-top: 10px;
}

.link-wrapper {
  width: 45%;
  margin-left: 130px;
  margin-top: 65px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.link-container {
  width: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: row;
}

.link-column {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.column-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140.62%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  display: flex;
  align-items: flex-end;
  text-align: right;
  margin-top: 8px;
  color: #FFFFFF;
}

.link a {
  color: #FFFFFF;
  text-decoration: none;
}

.link a:hover {
  color: #00B5E2;
  text-decoration: none;
}

.bottom-links-container {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFFFF;
  margin-top: 43px;
  margin-left: 10%;
  margin-right: 10%;
}

.bottom-links a {
  color: #FFFFFF;
  text-decoration: none;
}

.bottom-links a:hover {
  color: #00B5E2;
  text-decoration: none;
}

.copyright {
  margin-top: 31px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  text-align: center;
  color: #FFFFFF;
}

.copyright a {
  color: #FFFFFF;
  text-decoration: underline;
}
